<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- 자동으로 카멜케이스 규칙으로 변환 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

		<setting name="jdbcTypeForNull" value="NULL" />

	</settings>

	<!-- 별칭 생성, mapper에서 별칭을 사용할 수 있다. -->

	<typeAliases>
		<!-- <typeAlias type="com.bc.mybatis.GuestbookVO" alias="guestbookVO" /> -->

		<!-- 관리자 -->
		<typeAlias alias="adminUserVO"
			type="com.knockknock.admin.AdminUserVO" />
			<typeAlias alias="adminKeywordVO"
			type="com.knockknock.admin.AdminKeywordVO" />
			<typeAlias alias="adminProposalVO" type="com.knockknock.admin.proposal.AdminProposalVO"/>

			<typeAlias alias="adminCampaignCategoryVO" type="com.knockknock.admin.funding.AdminCampaignCategoryVO"/>
			<typeAlias alias="adminFundingVO" type ="com.knockknock.admin.funding.AdminFundingVO"/> 
			<typeAlias alias="adminCampaignVO" type="com.knockknock.admin.AdminCampaignVO"/>

		<!-- 게시판 -->
		<typeAlias alias="boardVO" type="com.knockknock.board.BoardVO" />
		<!-- <typeAlias alias="deactivation" type="com.knockknock.board.DeactivationVO"/> -->
		<!-- <typeAlias alias="boardCategoryVO"
			type="com.knockknock.board.BoardCategoryVO" /> -->
		<!-- <typeAlias alias="subtitleVO" type="com.knockknock.board.subtitleVO"/> -->
		<typeAlias alias="comments"
			type="com.knockknock.board.comments.CommentsVO" />
		<!-- 캠페인 -->
		<typeAlias alias="campaignVO"
			type="com.knockknock.campaign.campaign.CampaignVO" />
		<typeAlias alias="campaignUserVO"
			type="com.knockknock.campaign.campaign.CampaignUserVO" />
		<typeAlias alias="fundingVO" 
			type="com.knockknock.campaign.funding.FundingVO"/> 
	  	<typeAlias alias="fundingUserVO" 
			type="com.knockknock.campaign.funding.FundingUserVO"/> 
<!--	<typeAlias alias="keyword" 
			type="com.knockknock.campaign.KeywordVO"/> -->
		
  		<typeAlias alias="proposalVO" 
               type="com.knockknock.campaign.proposal.ProposalVO"/>
		<!-- 회원 -->
		<typeAlias alias="userVO" type="com.knockknock.user.UserVO" />
		<typeAlias alias="pointVO" type="com.knockknock.util.PointVO" />
		<!-- contact -->
		<typeAlias alias="contactVO" type="com.knockknock.contact.ContactVO" />
		<!-- 상품 -->
		<typeAlias alias="productVO" type="com.knockknock.product.ProductVO" />
		<!-- seller -->
		<typeAlias alias="sellerVO" type="com.knockknock.seller.SellerVO" />
		<!--주문 Orders -->
		<typeAlias alias="ordersVO" type="com.knockknock.orders.OrdersVO" />
		<typeAlias alias="ordersListVO" type="com.knockknock.orders.OrdersListVO" />
		<!-- user_order -->
		<typeAlias alias="userOrderVO" type="com.knockknock.orders.UserOrderVO" />
	</typeAliases>

	<!-- mappers는 여러개 등록 가능하다. -->
	<mappers>
		<mapper resource="mapping/AdminMapper.xml" />
		<mapper resource="mapping/BoardMapper.xml" />
		<mapper resource="mapping/CampaignMapper.xml" />
		<mapper resource="mapping/CommentsMapper.xml" />
		<mapper resource="mapping/ContactMapper.xml" />
		<mapper resource="mapping/OrdersMapper.xml" />
		<mapper resource="mapping/ProductMapper.xml" />
		<mapper resource="mapping/SellerMapper.xml" />
		<mapper resource="mapping/UserMapper.xml" />
		<mapper resource="mapping/UtilMapper.xml" />
	</mappers>


</configuration>