@charset "UTF-8";
  .proposal-content {
    flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }

  .proposal-form {
    width: 100%; } 
    
textarea {
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
  padding: 11px 20px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 13px; }
  input:focus, select:focus {
    border: 1px solid #146400; }




    