<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">

	<!-- 유저 리스트 전체 출력 -->
	<select id="getUserList" parameterType="adminUserVO"
		resultType="AdminUserVO">
		SELECT * FROM USERS
	</select>
	<!-- 1명 유저 가져오기 -->
	<select id="getUser" parameterType="adminUserVO"
		resultType="AdminUserVO">
		SELECT * FROM USERS WHERE U_IDX=#{uIdx}
	</select>
	<!-- 활성상태 -->
	<update id="updateUserActive" parameterType="adminUserVO">
		UPDATE USERS
		<trim prefix="SET">
			<if test="uActive == 1">U_ACTIVE = 0</if>
			<if test="uActive == 0">U_ACTIVE = 1</if>
		</trim>
		WHERE U_IDX=#{uIdx}
	</update>
	<!-- 키워드 리스트 출력 -->
	<select id="getKeywordAll" resultType="adminKeywordVO">
		SELECT * FROM KEYWORD
		ORDER BY K_CONTENT
	</select>

	<!-- 키워드 추가 -->
	<insert id="insertKeyword" parameterType="adminKeywordVO">
		INSERT INTO KEYWORD
		(K_IDX, K_CONTENT) VALUES(K_IDX_SEQ.nextval,#{kContent})
	</insert>

	<!-- 키워드 중복 확인 -->
	<select id="checkKeyword" resultType="Integer"
		parameterType="adminKeywordVO">
		SELECT COUNT(*) FROM KEYWORD WHERE K_CONTENT =
		#{kContent}
	</select>
	<!-- <foreach collection="list" item="item" index="index" separator="or"> -->
	<!-- 키워드 삭제 -->
	<delete id="deleteKeyword" parameterType="java.util.List">
		DELETE FROM KEYWORD WHERE
		K_CONTENT IN
		<foreach collection="list" index="index" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	<!-- ======== campaignCateogry ========= -->
	<!-- 캠페인 카테고리 리스트 출력 -->
	<select id="getCategoryList"
		resultType="adminCampaignCategoryVO">
		SELECT * FROM CAMPAIGN_CATEGORY
	</select>

	<!-- 카테고리 추가 -->
	<insert id="addCampaignCategory"
		parameterType="adminCampaignCategoryVO">
		INSERT INTO CAMPAIGN_CATEGORY
		(CC_IDX, CC_NAME)
		VALUES(CAMPAIGN_CATEGORY_SEQ.NEXTVAL, #{ccName})
	</insert>

	<!-- 카테고리 중복 확인 -->
	<select id="checkCampaignCategory" resultType="Integer"
		parameterType="AdminCampaignCategoryVO">
		SELECT COUNT(*) FROM CAMPAIGN_CATEGORY WHERE CC_NAME =
		#{ccName}
	</select>
	<!-- 카테고리 삭제 -->
	<delete id="deleteCampaignCategory"
		parameterType="java.util.List">
		DELETE FROM CAMPAIGN_CATEGORY WHERE
		CC_NAME IN
		<foreach collection="list" index="index" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<!-- ======== campaign =========== -->
	<!-- 캠페인 하나가져오기, 유저 닉네임 사용하기위한 조인 -->
	<select id="getCampaign" parameterType="AdminCampaignVO"
		resultType="AdminCampaignVO">
		SELECT * FROM CAMPAIGN C INNER JOIN USERS U on C.U_IDX =
		U.U_IDX
		WHERE CI_IDX=#{ciIdx}
	</select>

	<insert id="insertCampaign" parameterType="AdminCampaignVO">
		INSERT INTO CAMPAIGN (CI_IDX, CF_IDX, CI_TITLE, CI_CONTENT, CI_GOAL,
		CI_FILE, CI_EMBLEM, U_IDX, CC_NAME, CI_ESTIMATEDPOINT, CI_STATUS,
		C_KEYWORD1, C_KEYWORD2, C_KEYWORD3, CI_STARTDATE, CI_ENDDATE)
		VALUES (CI_IDX_SEQ.nextval, #{cfIdx}, #{ciTitle} , #{ciContent}, #{ciGoal},
		#{ciFile}, null, #{uIdx}, #{ccName}, #{ciEstimatedpoint},
		#{ciStatus}, #{cKeyword1}, #{cKeyword2}, #{cKeyword3}, #{ciStartdate},
		#{ciEnddate} )
	</insert>

	<!-- ======== proposal =========== -->
	<select id="getProposal" parameterType="adminProposalVO"
		resultType="adminProposalVO">
		SELECT * FROM PROPOSAL P INNER JOIN USERS U
		ON P.U_IDX =
		U.U_IDX
		WHERE CP_IDX = #{cpIdx}
	</select>


	<!-- 펀딩 추가하기 -->
	<insert id="insertFunding" parameterType="adminFundingVO">
		INSERT INTO FUNDING
		(CF_IDX, CF_TITLE, CF_CONTENT, CF_STATUS, CF_FILE, CC_NAME,
		CF_GOALPOINT, CF_GOAL, CP_IDX, U_IDX, CF_KEYWORD1, CF_KEYWORD2,
		CF_KEYWORD3, CF_STARTDATE, CF_ENDDATE)
		VALUES
		(CF_IDX_SEQ.NEXTVAL,
		#{cfTitle}, #{cfContent}, #{cfStatus}, #{cfFile}, #{ccName},
		#{cfGoalpoint},#{cfGoal}, #{cpIdx}, #{uIdx}, #{cfKeyword1},
		#{cfKeyword2}, #{cfKeyword3}, #{cfStartdate}, #{cfEnddate} )
	</insert>

	<!-- 펀딩 하나 가져오기 -->
	<select id="getFunding" parameterType="adminFundingVO"
		resultType="adminFundingVO">
		SELECT * FROM FUNDING WHERE CF_IDX = #{cfIdx}
	</select>

	<!-- 제안서 등록완료 확인위해서 CP_ACTIVE를 1로 변경, 등록 완료된 제안서 -->
	<update id="updateCpActive" parameterType="adminFundingVO">
		UPDATE PROPOSAL SET
		CP_ACTIVE =1 WHERE CP_IDX=#{cpIdx}
	</update>

	<!-- FUNDING 상태 변경 -->
	<update id="updateCfStatus" parameterType="adminFundingVO">
		UPDATE FUNDING SET
		CF_STATUS = 1 WHERE CF_IDX=#{cfIdx}
	</update>

	<!-- ======= 문의사항 하나 가져오기 ========= -->
	<select id="getContact" parameterType="adminContactVO"
		resultType="adminContactVO">
		SELECT * FROM CONTACT CT INNER JOIN USERS U on CT.U_IDX =
		U.U_IDX INNER JOIN
		CONTACT_CATEGORY CTC ON CT.CTC_IDX = CTC.CTC_IDX
		WHERE CT_IDX =
		#{ctIdx}
	</select>

	<!-- 문의사항 댓글 추가하기 -->
	<insert id="insertComment" parameterType="adminContactCommentVO">
		INSERT INTO
		CONTACT_COMMENT (CM_IDX, CM_CONTENT, CT_IDX, U_IDX, CM_WRITEDATE)
		VALUES (CM_IDX_SEQ.nextval, #{cmContent}, #{ctIdx}, #{uIdx}, sysdate)
	</insert>

	<!-- 문의사항 답변 완료 후 상태 변경 -->
	<update id="updateCtResp" parameterType="adminContactVO">
		UPDATE CONTACT SET CT_RESP =
		<if test="ctResp == 1 ">
			0
		</if>
		<if test="ctResp == 0">
			1
		</if>
		WHERE CT_IDX = #{ctIdx}
	</update>

	<!-- 댓글 가져오기 -->
	<select id="getCommentList" parameterType="adminContactVO"
		resultType="adminContactCommentVO">
		SELECT CM.CM_IDX, CM.CM_CONTENT, CM.CT_IDX, CM.U_IDX,
		CM.CM_WRITEDATE FROM CONTACT_COMMENT CM INNER JOIN CONTACT CT ON
		CM.CT_IDX = CT.CT_IDX WHERE CT.CT_IDX = #{ctIdx}
	</select>

	<!-- ================ 스케쥴러 사용위한 펀딩 / 캠페인 리스트 ================ -->
	<!-- 캠페인 리스트 가져오기 -->
	<select id="getCampaignList" resultType="adminCampaignVO">
		SELECT * FROM CAMPAIGN
		WHERE CI_STATUS IN (1,0)
	</select>

	<!-- 캠페인 시작상태로 변경하기 -->
	<update id="updateCampaignStatus"
		parameterType="adminCampaignVO">
		UPDATE CAMPAIGN SET CI_STATUS = 1 WHERE CI_IDX =
		#{ciIdx} AND CI_STATUS = 0
	</update>

	<!-- 캠페인 종료상태로 변경하기 -->
	<update id="updateCampaignStatusEnd"
		parameterType="adminCampaignVO">
		UPDATE CAMPAIGN SET CI_STATUS = 2 WHERE CI_IDX =
		#{ciIdx} AND CI_STATUS IN (0,1)
	</update>

	<!-- 펀딩 리스트 가져오기 -->
	<select id="getFundingList" resultType="adminFundingVO">
		SELECT * FROM FUNDING
	</select>

	<!-- 펀딩 시작상태로 변경하기 -->
	<update id="updateFundingStatusStart"
		parameterType="adminFundingVO">
		UPDATE FUNDING SET CF_STATUS = 1 WHERE CF_IDX = #{cfIdx}
		AND CF_STATUS = 0
	</update>

	<!-- 펀딩 종료상태로 변경하기 -->
	<update id="updateFundingStatusEnd"
		parameterType="adminFundingVO">
		UPDATE FUNDING SET CF_STATUS = 3 WHERE CF_IDX = #{cfIdx}
		AND CF_STATUS IN (0,1,2)
	</update>

	<!-- 펀딩 모금 완료 상태로 변경하기 -->
	<update id="updateFundingStatusSuccess"
		parameterType="adminFundingVO">
		UPDATE FUNDING SET CF_STATUS = 2 WHERE CF_IDX = #{cfIdx}
		AND CF_STATUS IN (1)
	</update>
</mapper>