<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">

	<!-- 유저 리스트 전체 출력 -->
	<select id="getUserList" parameterType="adminUserVO"
		resultType="AdminUserVO">
		SELECT * FROM USERS
	</select>
	<!-- 1명 유저 가져오기 -->
	<select id="getUser" parameterType="adminUserVO"
		resultType="AdminUserVO">
		SELECT * FROM USERS WHERE U_IDX=#{uIdx}
	</select>
	<!-- 활성상태 -->
	<update id="updateUserActive" parameterType="adminUserVO">
		UPDATE USERS
		<trim prefix="SET">
			<if test="uActive == 1">U_ACTIVE = 0</if>
			<if test="uActive == 0">U_ACTIVE = 1</if>
		</trim>
		WHERE U_IDX=#{uIdx}
	</update>
	<!-- 키워드 리스트 출력 -->
	<select id="getKeywordAll" resultType="adminKeywordVO">
		SELECT * FROM KEYWORD
		ORDER BY K_CONTENT
	</select>

	<!-- 키워드 추가 -->
	<insert id="insertKeyword" parameterType="adminKeywordVO">
		INSERT INTO KEYWORD
		(K_IDX, K_CONTENT) VALUES(K_IDX_SEQ.nextval,#{kContent})
	</insert>

	<!-- 키워드 중복 확인 -->
	<select id="checkKeyword" resultType="Integer"
		parameterType="adminKeywordVO">
		SELECT COUNT(*) FROM KEYWORD WHERE K_CONTENT =
		#{kContent}
	</select>
	<!-- <foreach collection="list" item="item" index="index" separator="or"> -->
	<!-- 키워드 삭제 -->
	<delete id="deleteKeyword" parameterType="java.util.List">
		DELETE FROM KEYWORD WHERE
		K_CONTENT IN
		<foreach collection="list" index="index" item="item" open="("
			close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	<!-- ======== campaignCateogry ========= -->
	<!-- 캠페인 카테고리 리스트 출력 -->
	<select id="getCategoryList"
		resultType="adminCampaignCategoryVO">
		SELECT * FROM CAMPAIGN_CATEGORY
	</select>
	
	<!-- 카테고리 추가 -->
	<insert id="addCampaignCategory" parameterType="adminCampaignCategoryVO">
		INSERT INTO CAMPAIGN_CATEGORY
		(CC_IDX, CC_NAME) VALUES(CAMPAIGN_CATEGORY_SEQ.NEXTVAL, #{ccName})
	</insert>
	
	<!-- 카테고리 중복 확인 -->
	<select id="checkCampaignCategory" resultType="Integer" parameterType="AdminCampaignCategoryVO">
		SELECT COUNT(*) FROM CAMPAIGN_CATEGORY WHERE CC_NAME = #{ccName}
	</select>
	<!-- 카테고리 삭제 -->
	<delete id="deleteCampaignCategory" parameterType="java.util.List">
		DELETE FROM CAMPAIGN_CATEGORY WHERE
		CC_NAME IN
		<foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<!-- ======== proposal =========== -->
	<select id="getProposal" parameterType="adminProposalVO"
		resultType="adminProposalVO">
		SELECT * FROM PROPOSAL P INNER JOIN USERS U
		ON P.U_IDX =
		U.U_IDX
		WHERE CP_IDX = #{cpIdx}
	</select>



	<!-- 펀딩 추가하기 -->
	<insert id="insertFunding" parameterType="adminFundingVO">
		INSERT INTO FUNDING
		(CF_IDX, CF_TITLE, CF_CONTENT, CF_STATUS, CF_FILE, CC_NAME,
		CF_GOALPOINT, CF_GOAL, CP_IDX, U_IDX, CF_KEYWORD1, CF_KEYWORD2,
		CF_KEYWORD3, CF_STARTDATE, CF_ENDDATE)
		VALUES
		(CF_IDX_SEQ.NEXTVAL, #{cfTitle}, #{cfContent}, #{cfStatus}, #{cfFile}, #{ccName},
		#{cfGoalpoint},#{cfGoal}, #{cpIdx}, #{uIdx}, #{cfKeyword1},
		#{cfKeyword2}, #{cfKeyword3}, #{cfStartdate}, #{cfEnddate} )
	</insert>
	
	<!-- 펀딩 하나 가져오기 -->
	<select id="getFunding" parameterType="adminFundingVO" resultType="adminFundingVO">
		SELECT * FROM FUNDING WHERE CF_IDX = #{cfIdx}
	</select>
	
	<!-- 제안서 등록완료 확인위해서 CP_ACTIVE를 1로 변경, 등록 완료된 제안서  -->
	<update id="updateCpActive" parameterType="adminFundingVO">
		UPDATE PROPOSAL SET CP_ACTIVE =1 WHERE CP_IDX=#{cpIdx}
	</update>
	
	<!-- FUNDING 상태 변경 -->
	<update id="updateCfStatus" parameterType="adminFundingVO">
		UPDATE FUNDING SET CF_STATUS = 1 WHERE CF_IDX=#{cfIdx}
	</update>
</mapper>