<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">
	
	<insert id="insertBoard" parameterType="boardVO">
		INSERT INTO BOARD (B_IDX ,B_SUBJECT, B_CONTENT, U_IDX, B_REGDATE, B_HIT, B_VIEWS, B_CATEGORY, B_FILE, CI_IDX, SB_IDX, B_ACTIVE)
		VALUES ((SELECT NVL(MAX(B_IDX),0)+1 FROM BOARD), #{bSubject}, #{bContent}, #{uIdx}, SYSDATE, #{bHit}, #{bViews}, 
				#{bCategory}, #{bFile}, #{ciIdx}, #{sbIdx}, #{bActive})
	</insert>
	
	<update id="updateBoard" parameterType="boardVO">
		UPDATE BOARD SET B_SUBJECT = #{bSubject}, B_CONTENT = #{bContent}
		 WHERE B_IDX = #{bIdx}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD WHERE B_IDX = #{bIdx}
	</delete>
	
	<select id="getBoard" parameterType="boardVO" resultType="boardVO">
		SELECT * FROM BOARD WHERE B_IDX = #{bIdx}
	</select>
	
	<select id="getBoardList" parameterType="boardVO" resultType="boardVO">
		SELECT * FROM BOARD 
		WHERE 1=1
		<if test="searchCondition == 'BSUBJECT' ">
			AND B_SUBJECT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		<if test="searchCondition == 'BCONTENT' ">
			AND B_CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		ORDER BY B_IDX DESC
	</select>
	
	<update id="updateHit">
		UPDATE BOARD SET B_HIT = B_HIT + 1 WHERE B_IDX = #{bIdx}
	</update>
	
	<update id="updateViews">
		UPDATE BOARD SET B_VIEWS = B_VIEWS + 1 WHERE B_IDX = #{bIdx}
	</update>
	
</mapper>