<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">
	
	<insert id="insertBoard" parameterType="boardVO">
		INSERT INTO BOARD (B_IDX ,B_SUBJECT, B_CONTENT, U_IDX, B_REGDATE, B_HIT, B_VIEWS, B_CATEGORY, B_FILE, CI_IDX, B_ACTIVE)
		VALUES ((SELECT NVL(MAX(B_IDX),0)+1 FROM BOARD), #{bSubject}, #{bContent}, #{uIdx}, SYSDATE, #{bHit}, #{bViews}, 
                  #{bCategory}, #{bFile}, #{ciIdx}, 1)

	</insert>
	
	<update id="updateBoard" parameterType="boardVO">
		UPDATE BOARD SET B_SUBJECT = #{bSubject}, B_CONTENT = #{bContent}
		 WHERE B_IDX = #{bIdx}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD WHERE B_IDX = #{bIdx}
	</delete>
	
	<select id="getBoard" parameterType="boardVO" resultType="boardVO">
		SELECT B.*, U.U_NICKNAME        
 		FROM USERS U, BOARD B    
 		WHERE U.U_IDX = B.U_IDX
 		AND B_IDX = #{bIdx}
	</select>
	
	<select id="countCampaignBoard" resultType="int">
		SELECT COUNT(*) FROM BOARD
		WHERE CI_IDX = #{ciIdx}
	</select>
	
	<select id="countMyCampaignBoard" resultType="int">
		SELECT COUNT(*) FROM BOARD
		WHERE CI_IDX = #{ciIdx}
		  AND U_IDX = #{uIdx} 
	</select>
	
	<!-- 닉네임과 함께 특정 캠페인 리스트 호출 -->
	<select id="getCampaignBoardList" resultType="boardVO">
		 SELECT * FROM
		( SELECT
		ROWNUM RN, A.*  FROM
		( SELECT B.*, U.U_NICKNAME 
			FROM BOARD B, USERS U WHERE CI_IDX = #{sort} 
			AND B.U_IDX = U.U_IDX  
        ORDER BY B_IDX DESC) A
		) WHERE RN BETWEEN #{start} AND #{end}

	</select>
	
	
	
 	<select id="getBoardList" parameterType="boardVO" resultType="boardVO">
		SELECT * FROM BOARD 
		WHERE 1=1
		<if test="searchCondition == 'BSUBJECT' ">
			AND B_SUBJECT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		<if test="searchCondition == 'BCONTENT' ">
			AND B_CONTENT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		ORDER BY B_IDX DESC
	</select> 
	
	<update id="updateHit">
		UPDATE BOARD SET B_HIT = B_HIT + 1 WHERE B_IDX = #{bIdx}
	</update>
	
	<update id="updateViews">
		UPDATE BOARD SET B_VIEWS = B_VIEWS + 1 WHERE B_IDX = #{bIdx}
	</update>
	
	<select id="myViewBoard" parameterType="boardVO" resultType="boardVO">
		SELECT * FROM BOARD WHERE U_IDX = #{uIdx}
	</select>
	
	<select id="getMyBoardList" parameterType="campaignVO" resultType="boardVO">
		SELECT B.*, U.U_NICKNAME 
		  FROM BOARD B, USERS U
		 WHERE U_IDX = #{uIdx}
		   AND CI_IDX = #{ciIdx}
	</select>
	
	<update id="updateEstimatedPoint" parameterType="int">
		UPDATE CAMPAIGN
		   SET CI_ESTIMATEDPOINT = CI_ESTIMATEDPOINT + 10
		 WHERE CI_IDX = #{ciIdx} 
	</update>
	
	
</mapper>