<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">
	
	<insert id="insertBoard" parameterType="com.knockknock.board.BoardVO">
		INSERT INTO BOARD (BIDX ,BSUBJECT, BCONTENT, UIDX, BREGDATE, BHIT, BVIEWS, BCATEGORY, BFILE, CIIDX, SBIDX)
		VALUES ((SELECT NVL(MAX(bIdx),0)+1 FROM BOARD), #{bSubject}, #{bContent}, #{uIdx}, #{bRegdate}, #{bHit}, #{bViews}, 
				#{bCategory}, #{bFile}, #{ciIdx}, #{sbIdx})
	</insert>
	
	<update id="updateBoard" parameterType="board">
		UPDATE BOARD SET BSUBJECT = #{bSubject}, BCONTENT = #{bContent}
		 WHERE BIDX = #{bIdx}
	</update>
	
	<delete id="deleteBoard" parameterType="board">
		DELETE FROM BOARD WHERE BIDX = #{bIdx}
	</delete>
	
	<select id="getBoard" parameterType="board" resultType="board">
		SELECT * FROM BOARD WHERE BIDX = #{bIdx}
	</select>
	
	<select id="getBoardList" parameterType="board" resultType="board">
		SELECT * FROM BOARD 
		WHERE 1=1
		<if test="searchCondition == 'BSUBJECT' ">
			AND BSUBJECT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		<if test="searchCondition == 'BCONTENT' ">
			AND BCONTENT LIKE '%'|| #{searchKeyword} ||'%'
		</if>
		ORDER BY BIDX DESC
	</select>
	
	<update id="updateHit" parameterType="int">
		UPDATE BOARD SET BHIT = BHIT + 1 WHERE BIDX = #{bIdx}
	</update>
	
</mapper>