<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentsDAO">
	
	<insert id="insertComments" parameterType="com.knockknock.board.CommentsVO">
		INSERT INTO COMMENTS (M_IDX, C_CONTENT, B_IDX, U_IDX, C_REGDATE)
		VALUES ((SELECT NVL(MAX(M_IDX),0)+1 FROM COMMENTS), #{mIdx}, #{cContent}, #{bIdx}, #{uIdx}, #{cRegdate})
	</insert>
	
	<update id="updateComments" parameterType="comments">
		UPDATE COMMENTS SET C_CONTENT = #{cContent} WHERE M_IDX = #{mIdx}
	</update>
	
	<delete id="deleteComments" parameterType="comments">
		DELETE FROM COMMENTS WHERE M_IDX = #{mIdx}
	</delete>

	<select id="CommentsList" parameterType="comments" resultType="comments">
		SELECT * FROM COMMENTS ORDER BY M_IDX DESC
	</select>
	
</mapper>