<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentsDAO">
	
	<insert id="insertComments" parameterType="comments">
		INSERT INTO COMMENTS (M_IDX, C_CONTENT, B_IDX, U_IDX, C_REGDATE)
		VALUES ((SELECT NVL(MAX(M_IDX),0)+1 FROM COMMENTS), #{cContent}, #{bIdx}, #{uIdx}, SYSDATE)
	</insert>
	
	<update id="updateComments" parameterType="comments">
		UPDATE COMMENTS SET C_CONTENT = #{cContent} WHERE M_IDX = #{mIdx}
	</update>
	
	<delete id="deleteComments" parameterType="int">
		DELETE FROM COMMENTS WHERE M_IDX = #{mIdx}
	</delete>

	<select id="commentsList" parameterType="int" resultType="comments">
		SELECT TO_CHAR(C.C_REGDATE,'YYYY-MM-DD') AS C_REGDATE,
			    C.M_IDX, C.C_CONTENT, C.B_IDX, C.U_IDX,
			    U.U_NICKNAME, U.U_IMGPATH
			FROM COMMENTS C, USERS U
			WHERE B_IDX = #{bIdx}
			 AND C.U_IDX = U.U_IDX
		<!-- SELECT C.*, U.U_NICKNAME, U.U_IMGPATH
		  FROM COMMENTS C, USERS U
		 WHERE B_IDX = #{bIdx}
 		   AND C.U_IDX = U.U_IDX -->
	</select>
	
</mapper>