<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 참고파일 나중에 삭제 -->
<mapper namespace="Orders">
 	 
	<select id="selectOrderList" parameterType="int" resultType="ordersVO">
		SELECT O_NUMBER, U_NAME, P.P_NAME, O.O_CNT, O.O_STATUS,
		O.O_TOTPRICE, O.O_DATE
		FROM ORDERS O, USERS U, PRODUCT P
		WHERE O.S_IDX=#{sIdx} AND U.U_IDX = O.U_IDX
		AND P.P_IDX=O.P_IDX ORDER BY O_DATE DESC
	</select>
	

</mapper>