<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
	<!--  <select id="productList" resultType="productVO">
		SELECT * FROM PRODUCT
	</select>-->
	
	<!-- 상품 정보 불러오기-->
	<select id="productDetail" parameterType="int" resultType="productVO">
		SELECT * FROM PRODUCT WHERE P_IDX = #{pIdx}
	</select>
	
	<!-- 카테고리별 상품만 불러오기 -->
	<select id="selectCategory" parameterType="productVO" resultType="productVO">
		<if test = "pcIdx != 0">
		SELECT *FROM PRODUCT WHERE PC_IDX = #{pcIdx}
		</if>
		<if test = "pcIdx == 0">
		SELECT *FROM PRODUCT
		</if>
	</select>
	
	<!-- 장바구니 상품 확인 -->
	<select id="checkCart" parameterType="int" resultType="String">
		SELECT P_IDX FROM CART WHERE P_IDX =#{pIdx}
	</select>
	
	<!-- 장바구니에 상품 담기 -->
	<insert id="addCart" parameterType="hashmap">
		INSERT INTO CART (U_IDX, P_IDX, P_COUNT, CA_REGDATE)
		VALUES(#{uIdx}, #{pIdx}, #{pCount}, SYSDATE)
	
	</insert>
	
	<!-- 장바구니 상품 목록 가져오기 -->
	<select id="cartList" parameterType="UserVO" resultType="productVO">
		SELECT C.CA_REGDATE, C.P_COUNT, P.P_IDX, P.P_NAME, P.P_PRICE, 
				P.P_DESC, P.P_FEE, P.P_IMG
		FROM CART C, PRODUCT P
		WHERE C.P_IDX = P.P_IDX
		AND U_IDX =#{uIdx}
	
	</select>
	
	
	<insert id="insertProduct" parameterType="productVO">
		INSERT INTO PRODUCT 
		(P_IDX, PC_IDX, P_NAME, P_PRICE, P_STOCK, P_DESC, P_REGDATE, P_VIEWS, 
		S_IDX, P_ABLE, P_TOTALCNT, P_FEE, P_IMG)
		VALUES
		(P_IDX_SEQ.NEXTVAL, #{pcIdx}, #{pName}, #{pPrice}, #{pStock}, #{pDesc},
			SYSDATE, 0, #{sIdx}, 1, 0, 3000, #{pImg})
	
	</insert>
	
	
	
</mapper>