<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 참고파일 나중에 삭제 -->
<mapper namespace="seller">
	
	<!-- 로그인 -->
	<select id="sellerLogin" parameterType="sellerVO" resultType="sellerVO">
		SELECT * FROM SELLER WHERE S_ID=#{sId} and S_PWD=#{sPwd}
	</select>
	
	<!-- 판매자등록 -->
	<insert id="sellerJoin" parameterType="sellerVO">
		INSERT INTO SELLER
		VALUES(S_IDX_SEQ.NEXTVAL, #{sId}, #{sPwd}, #{sPhone}, #{sName}, #{sAddress}, #{sEmail}, #{sBiz})		
	</insert>
	<!-- 판매자번호 없는 등록 -->
	<insert id="sellerJoin2" parameterType="sellerVO">
		INSERT INTO SELLER
		VALUES(S_IDX_SEQ.NEXTVAL, #{sId}, #{sPwd}, #{sPhone}, #{sName}, #{sAddress}, #{sEmail}, 'N/A')		
	</insert>
	
	 <!-- 주문건 업데이트용 -->
	<update id="updateOrderStatus" parameterType="ordersVO">
	 	UPDATE ORDERS SET OS_IDX = #{osIdx} WHERE S_IDX=#{sIdx} AND O_NUMBER=#{oNumber}
	</update>	
	
	 
</mapper>