<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 참고파일 나중에 삭제 -->
<mapper namespace="UserVO">
	<insert id="joinMember" parameterType="UserVO">
		INSERT INTO BOARD (SEQ,
		TITLE, WRITER, CONTENT)
		VALUES ((SELECT NVL(MAX(SEQ),0)+1 FROM BOARD),
		#{title}, #{writer},
		#{content})
	</insert>
	
	<!-- 마이페이지 이동 -->
	<select id="selectOneUser" parameterType="int" resultType="UserVO">
		SELECT * FROM USERS WHERE U_IDX = #{uIdx}
	</select>
	
	<!-- 마이페이지 내 정보 수정(업데이트) -->
	<update id="updateMyInfo" parameterType="UserVO">
		UPDATE USERS SET 
		U_NICKNAME = #{uNickname}, U_ADDRESS=#{uAddress}, U_EMAIL=#{uEmail}, U_PHONE=#{uPhone}
		WHERE U_IDX=#{uIdx}
	
	</update>
</mapper>