<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 참고파일 나중에 삭제 -->
<mapper namespace="UserVO">
	<!-- 카카오/구글 로그인 -->
	<select id="kakaologin" parameterType="UserVO" resultType="UserVO">
		SELECT *FROM USERS WHERE U_EMAIL=#{uEmail}
	</select>
	
	<!-- 로그인 -->
	<select id="selectlogin" parameterType="UserVO" resultType="UserVO">
		SELECT * FROM USERS WHERE U_ID=#{uId} and U_PWD=#{uPwd}
	</select>
	
	<!-- ID중복체크 -->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT U_IDX FROM USERS WHERE U_ID=#{id}
	</select> 
	
	<!-- 이메일 중복체크 -->
	<select id="emailCheck" parameterType="String" resultType="String">
		SELECT U_NAME FROM USERS WHERE U_EMAIL=#{email}
	</select>
	
	<!-- 닉네임 중복체크 -->
	<select id="nickCheck" parameterType="String" resultType="String">
		SELECT U_IDX FROM USERS WHERE U_NICKNAME=#{nickname}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="UserVO">
		INSERT INTO USERS(U_IDX, U_ID, U_NAME, U_PWD, U_NICKNAME,U_EMAIL, U_PHONE, U_BIRTH, U_TOT_POINT, U_TYPE,
U_ACTIVE, U_GENDER, U_ADDRESS, U_JOINDATE)
		VALUES(U_IDX_SEQ.nextval, #{uId}, #{uName}, #{uPwd}, #{uNickname}, #{uEmail}, #{uPhone}, #{uBirth}, default, 1, default, #{uGender}, #{uAddress}, sysdate)		
	</insert>
	
	<!-- 비밀번호 찾기 -->
	<update id="updatePwd" parameterType="String">
		UPDATE USERS SET U_PWD =#{uPwd} WHERE U_EMAIL = #{uEmail}
	</update>
	
	<!-- 아이디와 이메일 체크(비밀번호 찾기용) --> 
	<select id="readUserInfo" parameterType="UserVO" resultType="UserVO">
		SELECT *FROM USERS WHERE U_ID=#{uId} AND U_EMAIL=#{uEmail}
	</select>
	
	<!-- 마이페이지 이동 -->
	<select id="selectOneUser" parameterType="int" resultType="UserVO">
		SELECT * FROM USERS WHERE U_IDX = #{uIdx}
	</select>
	
	<!-- 유저 전체목록 -->
	<select id="getAllUser" resultType="UserVO">
		SELECT * FROM USERS
	
	</select>
	
	<!-- 마이페이지 내 정보 수정(업데이트) -->
	<update id="updateMyInfo" parameterType="UserVO">
		UPDATE USERS SET 
		U_NICKNAME = #{uNickname}, U_ADDRESS=#{uAddress}, U_EMAIL=#{uEmail}, U_PHONE=#{uPhone}, U_IMG=#{uImg}, U_IMGPATH = #{uImgPath}
		WHERE U_IDX=#{uIdx}
	
	</update>
	
	<!-- 마이페이지 이메일 목록 가져오기(중복확인) -->
	<select id="getEamilList" resultType="string">
		SELECT U_EMAIL FROM USERS 
	
	</select>

	<!-- 마이페이지 비밀번호 변경 -->
	<update id="updateMyPwd" parameterType="UserVO">
		UPDATE USERS SET 
		U_PWD = #{uPwd}
		WHERE U_IDX=#{uIdx}
	
	</update>
	
	<!-- 엠블럼 리스트 -->
	<select id="userEmblemList" parameterType="UserVO" resultType="map">
		SELECT CI_EMBLEM
		FROM (SELECT C.CI_IDX,C.CI_EMBLEM, U.U_IDX, U.CI_EMBLEM_STATUS
		FROM CAMPAIGN C, CAMPAIGN_USER U
		WHERE U.CI_IDX=C.CI_IDX
		AND U.U_IDX=#{uIdx}) 
		WHERE CI_EMBLEM_STATUS=1
	
	</select>
	
	<!-- 진행중인 캠페인 리스트 -->
	<select id="userCamingList" parameterType="UserVO" resultType="campaignVO" >
		SELECT C.*
		FROM CAMPAIGN C, CAMPAIGN_USER U
		WHERE U.CI_IDX=C.CI_IDX 
		AND C.CI_STATUS=1
		AND U.U_IDX=#{uIdx}
	</select>
	
	<!-- 종료된 캠페인 리스트 -->
	<select id="endCampaignList" parameterType="UserVO" resultType="campaignVO" >
		SELECT C.*
		FROM CAMPAIGN C, CAMPAIGN_USER U
		WHERE U.CI_IDX=C.CI_IDX 
		AND C.CI_STATUS=0
		AND U.U_IDX=#{uIdx}
	</select>

	<!-- 나의 문의내역 - 총 게시글 수 구하기 -->
	<select id="myCcListTotalCount" parameterType="UserVO" resultType="int">
		SELECT COUNT(*) FROM CONTACT
    	WHERE U_IDX =#{uIdx}
	</select>
	<!-- 나의 문의내역 페이징 -->
	<select id="myCcList" parameterType="hashmap" resultType="contactVO">
		SELECT * 
		FROM ( SELECT ROWNUM RN, C.* 
		FROM ( SELECT *  FROM CONTACT 
		WHERE U_IDX = #{uIdx}
		ORDER BY CT_WRITEDATE DESC 
		) C)
		WHERE RN BETWEEN #{start} AND #{end}
	
	</select> 
	
	<!-- 내 문으내용(답글포함) -->
	<select id="myQuestionPage" parameterType="UserVO" resultType="contactVO">
		SELECT C.*, CM.*
		FROM CONTACT C LEFT OUTER JOIN (
	    SELECT * FROM CONTACT_COMMENT) CM
	    ON(C.CT_IDX = CM.CT_IDX)
	    WHERE C.U_IDX = #{uIdx}
	    AND C.CT_IDX =#{ctIdx}
	
	</select>
	
	<!-- 나의 활동 -->
	<select id="myActive" parameterType="UserVO" resultType="boardVO">
		SELECT * FROM BOARD WHERE U_IDX = #{uIdx}
	
	</select>
	
	<!-- 나의 포인트 내역 -->
	<select id="myPointList" parameterType="UserVO" resultType="pointVO">
		SELECT * FROM POINT WHERE U_IDX = #{uIdx} ORDER BY PO_DATE DESC
	
	</select>
	
	<!-- 상품 목록 가져오기(임시) -->
	<select id="productList" resultType="productVO">
		SELECT * FROM PRODUCT
	
	</select>
	
	<!-- 상품 정보 불러오기 (임시)-->
	<select id="productDetail" parameterType="int" resultType="productVO">
		SELECT * FROM PRODUCT WHERE P_IDX = #{pIdx}
	</select>
	
	<!-- 장바구니 상품 확인 -->
	<select id="checkCart" parameterType="int" resultType="String">
		SELECT P_IDX FROM CART WHERE P_IDX =#{pIdx}
	</select>
	
	<!-- 장바구니에 상품 담기 -->
	<insert id="addCart" parameterType="hashmap">
		INSERT INTO CART (U_IDX, P_IDX, P_COUNT, CA_REGDATE)
		VALUES(#{uIdx}, #{pIdx}, #{pCount}, SYSDATE)
	
	</insert>
	
	<!-- 장바구니 상품 목록 가져오기 -->
	<select id="cartList" parameterType="UserVO" resultType="productVO">
		SELECT C.CA_REGDATE, C.P_COUNT, P.P_IDX, P.P_NAME, P.P_PRICE, S_IDX,
				P.P_DESC, P.P_FEE, P.P_IMG
		FROM CART C, PRODUCT P
		WHERE C.P_IDX = P.P_IDX
		AND U_IDX =#{uIdx}
	
	</select>
	
	<!-- 장바구니 상품목록 전체 삭제 -->
	<delete id="deleteCart" parameterType="UserVO" >
		DELETE FROM CART WHERE U_IDX = #{uIdx}
	
	</delete>
	
	<!-- 장바구니 상품 하나 삭제 -->
	<delete id="deleteOne" parameterType="int">
		DELETE FROM CART WHERE P_IDX = #{pIdx}
	
	</delete>
	
	<!-- 장바구니에서 주문하기로 데이터 입력 -->
	<insert id="insertOrders" parameterType="ordersVO">
			INSERT INTO ORDERS 
				(O_IDX, P_IDX, O_CNT, O_STATUS, P_PRICE, 
				O_TOTPRICE, U_IDX, S_IDX , O_NUMBER )
			VALUES (O_IDX_SEQ.nextval, #{pIdx}, #{oCnt}, 0, #{pPrice}, 
				#{oTotprice}, #{uIdx}, #{sIdx}, O_NUMBER_SEQ.nextval)
	</insert>
	
	<!-- 주문된 상품 장바구니에서 삭제 -->
	<delete id="deleteBuyProduct" parameterType="int">
			DELETE FROM CART WHERE P_IDX = #{pIdx}
			
	</delete>
	
	<!-- 주문서 가져오기(주문하기창) -->
	<select id="ordersList" parameterType="UserVO" resultType="ordersListVO">
			SELECT P.P_IDX, O.O_CNT, P.P_PRICE, O.O_TOTPRICE, P.S_IDX, 
					P.P_NAME, P.P_DESC,P.P_FEE, P.P_IMG
			FROM ORDERS O, PRODUCT P
			WHERE O.P_IDX = P.P_IDX
			AND O.U_IDX=#{uIdx}
	</select>
</mapper>