<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 참고파일 나중에 삭제 -->
<mapper namespace="Util">
	<!-- 총 유저 수 출력 -->
	<select id="countUser" resultType="int">
		SELECT COUNT(*) FROM USERS
	</select>

	<!-- 페이징 처리 후 유저 조회 -->
	<select id="getUserList" resultType="adminUserVO">
		SELECT * FROM(
		SELECT ROWNUM
		RN, A.* FROM (
		SELECT * FROM USERS ORDER BY U_NAME DESC) A
		) WHERE RN
		BETWEEN #{start} AND
		#{end}

	</select>

	<!-- 총 키워드 수 출력 -->
	<select id="countKeyword" resultType="int">
		SELECT COUNT(*) FROM
		KEYWORD
	</select>

	<!-- 페이징 처리 후 키워드조회 -->
	<select id="getKeywordList" resultType="adminKeywordVO">
		SELECT * FROM(
		SELECT
		ROWNUM RN, A.* FROM (
		SELECT * FROM KEYWORD ORDER BY K_CONTENT) A
		)
		WHERE RN BETWEEN #{start} AND
		#{end}
	</select>

	<!-- 총 Proposal 수 출력 -->
	<select id="countProposal" resultType="int">
		SELECT COUNT(*) FROM
		PROPOSAL
	</select>

	<!-- 페이징 처리 후 제안서조회 -->
	<select id="getProposalList" resultType="adminProposalVO">
		SELECT * FROM (
		SELECT ROWNUM cpRn, A.*
		FROM (
		SELECT P.*, U.U_NICKNAME
		FROM PROPOSAL P INNER JOIN USERS U on P.U_IDX = U.U_IDX
		ORDER BY CP_REGDATE) A
		) WHERE cpRn BETWEEN #{start} AND
		#{end}
	</select>


</mapper>