@charset "UTF-8";

.btn-funding {
  width:100%;
  height:100px;
  background-color: #0a3a18;
  border: none;
  color:#fff;
  padding: 0 15;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  margin: 4px;
  cursor: pointer;

}


progress::-webkit-progress-value {
  background: #7eb560;
}

progress::-webkit-progress-bar {background-color: #eff5eb; width: 100%;}
.funding-pg progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #eee;
  width: 100%;
  height: 10px;
  padding: 0 15;

  border: none;
  border-radius: 3px;
}
.funding-pg progress[value]  {
  color: blue; 
}