
*{

	font-family:'Noto+Sans+KR';
}

.main-content {
	width: 100%;
	flex: 1;
	min-height: 100vh;
	margin-top: 100px;
}

.campaingView {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding-top:2%;
}

#ctext{
	text-align:center;
	font-size:35px;
	border-bottom:1px solid gray;
	width:800px;
	margin: 0 auto;
	padding-top:3%;
	font-style:normal;
	color:#0e4b20;
	text-shadow:1px 1px 0 #36624e, -1px -1px 1px lightgrey;

}
/*캠페인 리스트 영역*/
.clist {
	display: grid;
	grid-template-columns: repeat(1, 80%);
	grid-template-rows: repeat(3, 50vh);
	grid-gap: 10%;
	justify-content: center;
}

.citem {
	display: grid;
	grid-template-columns: repeat(6, 16%);
	grid-template-rows: 11vh 11vh 11vh 6vh 17vh ;
	padding: 15px 5px 0 5px;
	margin:0 auto;
	grid-gap:5px;
	box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
	border-radius : 5px;
}

.citem span {
	text-align: left;;
	font-style: normal;
}
/*해당 캠페인 사진*/
.itemPhoto {
	grid-column: 1/3;
	grid-row: 1/5;
	justify-content: center;
	
}
.itemEnddate {
	grid-column: 1/3;
	grid-row: 5/6;
}
.countdown{
	font-size:20px;
	font-weight:bold;
	
	
}
.cphoto {
	display: inline-block;
	width: 90%;
	border-radius: 5%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.cphoto img {
	object-fit: cover;
	width: 100%;
}

.cphoto img:hover {
	opacity: 0.5;
	cursor: pointer;
}
/*해당 캠페인 내용들*/
.itemTitle {
	grid-column: 3/7;
	grid-row: 1/2;
}

.itemContent {
	grid-column: 3/7;
	grid-row: 2/3;
}

.itemGoal {
	grid-column: 3/7;
	grid-row: 3/4;
}



/*하단 포인트, 엠블럼*/
.itemPoint {
	grid-column: 3/7;
	grid-row: 4/6;
	font-size:13px;
}
.itemPoint > div {
	float:left;
	width:48%;

}
.pzone, .ezone {
	height:20vh;
	margin:5px;
	background-color:white;
	
}
.pzone > p, .ezone > p {
	background-color : #6c9378;
	font-size:12px;
	color:white;
	padding:1%;

	font-style:normal;
	
	
}
.pt, .eb {
	text-align:center;
	width:90%;
	padding:10px;
}

.it1 {
	width: 20%;
	padding-left:10px;
	font-size:17px;
	font-weight:bold;
	color:#0e4b20;
	text-align:left;
	border-bottom: 1px solid #a6a6a6;
}

.it2 {
	width: 75%;
	font-size: 13px;
	text-align:left;
	padding-left:10px;
	font-style:normal;
}

.pt{
	width:90%;
	
}
.pt2 p {
	font-style:normal;
	font-size:30px;

}
.pt2 p:first-child {
	font-size:40px;
	font-weight:bold;
	color:#ffc34d;
	text-align:right;
	
	
}
.pt2 span{
	font-size:25px;
	
}
.eb{
	width:100%;
	
}

.eb2{
	width:25%;
	border-radius: 50%;
	overflow: hidden;
   	align-items: center;
   	justify-content: center;
   	border : dotted 2px black;
   	background-color:white;
   	padding:10px;
   	margin:0 auto;
}

/*남은기간 텍스트 별도 적용*/
.itemEnddate p:first-child {
	font-size:13px;
	width:100%;
	font-style:normal;
	border:0px;
	padding-left:30px;
	margin:0;
}

.itemEnddate p:last-child {
	font-style:normal;
	font-size:11px;
	color:#f2f2f2;
	background-color:#f2f2f2;
	text-shadow:0px 0px 0 #675d5d, -0.1px -1px 0 #939393;
}