  /* 메인 css */

*{
	font-family:'Noto+Sans+KR';
	
}

.main-content {
	width: 100%;
	flex: 1;
	min-height: 100vh;
	margin-top: 100px;
}

.list {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding-top:2%;
}
/*thead*/
.no, .category, .end_date, .reply{
	font-weight:550;
	font-size:14px;
}
#ctext{
	font-size:15px;
	border-bottom:1px solid gray;
	width:800px;
	margin: 0 auto;
	padding-top:3%;
	font-style:normal;

}
.container1 {
	width:80%;
	
}
.tbody td{
	font-size:14px;
	
}
/*게시글 답글여부*/
.ctresp{
	font-size:12px;
	width:10%;
	
}
.ctTitles{
	cursor : pointer;
	font-size:13px;
	
}
.ctTitles:hover{
	text-decoration: underline;
	
}
.ctTitles a{
	color:#4d4d4d;
}

.ctContent {
	display:none;
}
/*게시글 하나 선택했을 때?*/
.oneSection:hover {
	background-color:#D9EEE1;
	
}

   /* 페이징 부분 스타일 */
	li { 
		list-style: none; 
	}
	.paging {

		margin : 0 auto;
		height:50px;
		width:80%;
		text-align:center;

	}
	.pagingNum {
        width:100%;
        height:50px;
        text-align : center;
        margin : 0 auto;
    }
    .paginging {
    	width : 80%;
    	margin:0 auto;
    	text-align:center;
    	height:50px;
 
    }
    #tb{
    	margin: 0 auto;
    
    }

	.paging li {
		display:inline-block;
		margin-right: 8px;
	}
	.paging li a {
		text-decoration: none;
		display: block;
		padding: 3px 7px;
		font-weight: bold;
		color: black;
	}
	.paging .disable {
		padding: 3px 7px;
		color: silver;
	}
	.paging .now {
		width:15px;
		padding: 3px 3px;
		color:#ff4d4d;
		font-weight:700;
		
	}
	.paging li a:hover {
		text-decoration: underline;
	}
	ol {
		margin: 0 auto;
		width:30%;
	}
	