*{
	font-family: 'Noto Sans KR', sans-serif;
	
}

.main-content{
    flex: 1;
    height:100%;
    margin-top:100px;
        
}
.ordersMain{
	width:70%;
	height:100%;
	margin: 0 auto;
	margin-top:100px;
}
/*메인 그리드*/
.ordersGrid{
	text-align:center;
	width:100%;
	display:grid;
	grid-template-columns: 60% 37%;
	grid-template-rows: 35vh 35vh 30vh 20vh;
	margin-top:200px;
}

/*주문자정보*/
.infoOrder{
	border:1px solid gray;
	grid-column : 1/2;
	grid-row : 1/2;
	
}
.ifo1 div{
	display:inline-block;
	width:45%;
}
/*수령자정보*/
.infoReciever{
	grid-column : 1/2;
	grid-row : 2/3;
	border:1px solid gray;
	
}
.ifr1{
	display:inline-block;
	width:47%;
}
#selbox{
	margin-top:10px;
}
#ifrtext{
	display:inline-block;
}
#sameOrdersInfo{
	display:inline-block;
}
/*결제방법*/
.paymentMethod{
	border:1px solid gray;
	grid-column : 1/2;
	grid-row : 3/4;
	
}
/*결제방법 클릭하면 화면 띄우기*/
.pm-2, .pm-3 {
	display:none;
	
}




/*결제하기*/
.payment{
	grid-column : 1/2;
	grid-row : 4/5;
	border:1px solid gray;
	
}
/*주문 상품 내역*/
.infoOrdersProduct {
	grid-column : 2/3;
	grid-row : 1/5;
	border:1px solid gray;
	
}

.onePlist{
	border : 1px solid gray;
	margin: 10px;
	font-size: 13px;
	
}