*{
	font-family: 'Noto Sans KR', sans-serif;
	
}

.main-content{
    flex: 1;
    height:100%;
    margin-top:100px;
        
}
.ordersMain{
	width:70%;
	height:100%;
	margin: 0 auto;
	margin-top:100px;
}
.ordersTop {
	margin-top:200px;
	width:98%;
	display:grid;
	grid-template-columns: 50% 49%;
	grid-template-rows: 10vh;
	margin-bottom:10px;
	background-color:#e3f1e4;
	color:white;
	border-top: 1px solid gray;
	border-bottom:1px solid gray;
}
.ct1, .ct2 {
	display:inline-block;
	width:100%;
}
.ct1 {
	text-align:center;
	padding:15px;
}
.ct2{
	text-align:right;
	padding:3%;
	
}
.ct2 span{
	text-align:right;
	padding:5%;
	font-size:20px;

}
.ct2 img {
	width:7%;
	
}
/*메인 그리드*/
.ordersGrid{
	text-align:center;
	width:100%;
	display:grid;
	grid-template-columns: 60% 37%;
	grid-template-rows: 40vh 40vh 30vh 20vh;

	grid-gap:10px;
}

/*주문자정보*/
.infoOrder{
	border:2px solid #0e4b20; 
	grid-column : 1/2;
	grid-row : 1/2;
	box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
	
	
}
.infoOrder > p{
	color:#0e4b20; 
	padding:15px; 
	width:100%; 
	font-size:20px;
	font-weight:bold;
	text-align:left;
	background-color:#efefef;
	
}
.orderName, .orderAddress, .orderPhone, .orderEmail{
	font-size:15px;
	font-weight:600;
}
.orderAddress{
	font-size:14px;
}
.ifo1 div{
	display:inline-block;
	width:45%;
	height: 100%;
	padding-left:5%;
}
/*수령자정보*/
.infoReciever{
	grid-column : 1/2;
	grid-row : 2/3;
	border:2px solid #0e4b20;
	box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
	
}
.infoReciever input {
	border : 0px;
	border-bottom:1px solid gray;
	
}
#ifrtext{
	color:#0e4b20; 
	padding:10px; 
	width:50%; 
	margin: 10px 0 0 10px;; 
	font-size:20px;
	font-weight:bold;
	text-align:left;
	
}
#uname, #addr1, #addr2, #phone, #email{
	width:70%;
	color:#0e4b20; 
	font-weight:600;
	font-size:12px;
	
}
#uname:focus, #addr1:focus, #addr2:focus, #phone:focus, #email:focus{
	outline : none;
	background-color:#e9fcea;
}
#sameOrdersInfo{
	margin:8px;
	width:20px;
}
.sametext{
	font-size:15px;
}
#ifrtext, .ifrtext2{
	display:inline-block;
}
.ifr1 {
	display:inline-block;
	width:54%;
	margin-left:20px;
	min-height: 20vh;
}
.ifr1 label, .ifr2 label {
	 margin:2%;
}
.ifr1 input {
	min-height:4vh;
}
.ifr2{
	display:inline-block;
	width:37%;
}
#selbox{
	margin-top:10px;
}
#ifrtext{
	display:inline-block;
}
#sameOrdersInfo{
	display:inline-block;
}
#addr1, #addr2 {
	margin-left : 38px;
	margin-bottom : 5px;
}
#warningPhone, #warningEmail{
	padding: 5px;
	color:red;
	margin:35px;
	font-size:12px;
	
}
.requestDelivery{
	width:100%;
	text-align:left;
	padding-left:9%;
}
#selbox{
	height:4vh;
	width:45%;
}
#selboxDirect{
	width:50%;
}
/*결제방법*/
.paymentMethod{
	border:2px solid #0e4b20;
	grid-column : 1/2;
	grid-row : 3/4;
	box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
	
}
.paymentMethod > p {
	color:#0e4b20; 
	padding:15px; 
	width:100%; 
	font-size:20px;
	font-weight:bold;
	text-align:left;
	background-color:#efefef;
}
.methodDiv {
	padding-top:20px;
	font-size:15px;
	text-align:center;
}
.methodDiv p{
	display:inline-block;
	margin-right:4%;
}
.pm1, .pm2 {
	display:inline-block;
	height:100%;
}
.pm1 {
	width:50%;
	text-align:left;
	padding-top:20px;
}

.pm2 {
	width:45%;
}
.pm2 input {
	margin : 0 auto;
	min-height:7vh;
	width:100%;
	font-size: 20px;
	border:1px solid #0e4b20; 
	background-color:white;
	border-radius: 5px;
	
	
}
.pm2 input:hover {
	background-color:#0e4b20; 
	color:white;
	font-weight : 600;
}
.payPrice{
	font-size:30px;
	font-weight : 600;
	margin:10px;
	padding-left:10px;
	color:#ff5050;
}
/*결제방법 클릭하면 화면 띄우기*/
.pm-2, .pm-3 {
	display:none;
	
}




/*결제하기*/
.payment{
	grid-column : 1/2;
	grid-row : 4/5;
	border:2px solid #0e4b20;
	box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
	
}
/*주문 상품 내역*/
.infoOrdersProduct {
	grid-column : 2/3;
	grid-row : 1/5;
	border:2px solid #0e4b20;
	box-shadow: 0 8px 11px 0 rgb(0 0 0 / 10%), 0 1px 1px 0 rgb(0 0 0 / 1%);
	
}
.infoop{
	color:#0e4b20; 
	padding:15px;  
	font-size:20px;
	font-weight:bold;
	text-align:center;
	background-color:#efefef;
}
.onePlist{
	border : 1px solid gray;
	margin: 10px;
	font-size: 13px;
	height: 23vh;
	border-radius:5px;
	padding:5px;
	
}
.op1, .op2{
	display:inline-block;
}
.op1{
	width:40%;
	align-items: center;
    justify-content: center;
	overflow: hidden;
}
.op1 img{
	object-fit:cover;
   	width:80%;

}
.op2{
	padding:5px 10px 5px 10px;
	width:59%;
	text-align:left;
	 vertical-align: top;
	
	
}
.op2grid {
	width:100%;
	display:grid;
	grid-template-columns: 31% 67%;
	grid-template-rows: repeat(5, 1fr);
	grid-gap : 5px;
}
.op2-1{
	grid-column : 1/2;
	grid-row: 1/2;
}
.op2-2{
	grid-column : 1/2;
	grid-row: 2/3;
}

.op2-3{
	grid-column : 1/2;
	grid-row: 3/4;
}.op2-4{
	grid-column : 1/2;
	grid-row: 4/5}
.op2-5{
	grid-column : 1/2;
	grid-row: 5/6;
}
.op3-1{
	grid-column : 2/3;
	grid-row:1/2;
	font-size:12px;
}
.op3-2{
	grid-column : 2/3;
	grid-row:2/3;
	font-size:12px;
}
.op3-3{
	grid-column : 2/3;
	grid-row:3/4;
	font-size:12px;
}
.op3-4{
	grid-column : 2/3;
	grid-row:4/5;
	font-size:12px;
}
.ototPrice{
	grid-column : 2/3;
	grid-row:5/6;
	font-size:12px;
}

/*버튼*/
#cancelBtn, #payBtn{
	display:inline-block;
	width:40%;
	
}
#cancelBtn:hover{
	background-color:#666666;
	border: 1px solid #666666;
	
}
